body, html {
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.side h2 {
    margin: 0;
}

.field {
    width: 100%;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    max-width: 100%;
    min-width: 100%;
}

#descriptionInput {
    height: 200px;
}

input.invalid,
textarea.invalid {
    border: medium solid red;
    box-shadow: 0 0 6px red;
}

.error {
    color: red;
    font-size: 12px;
    height: 14px;
}

#doneButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.todo-list {
    width: 100%;
    max-width: 500px;
    padding: 4px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todo-list.empty {
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
}

.todo-list.not-empty{
    max-height: 352px; /* 4 cards x 80px + gaps */
    overflow-y: auto;
    gap: 8px;
}


.todo-card {
    box-sizing: border-box;
    width: 100%;
    min-height: 80px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.todo-card-title {
    margin: 0 0 6px 0;
    font-size: 16px;
}

.todo-delete-button {
    align-self: flex-end;
    margin-top: auto;
}